**Q.1.**

In [2]:
print('Hello Akash')

Hello Akash

**Q.2.**

In [13]:
print("Numbers from 2000 to 3200 which are divisible by 7 but not 5 are as follows: ")
count = 0
for i in range(2000,3200,7):
    if i%5 != 0:
        print(i)
        count += 1
print('total numbers are:', count)

Numbers from 2000 to 3200 which are divisible by 7 but not 5 are as follows:
2007
2014
2021
2028
2042
2049
2056
2063
2077
2084
2091
2098
2112
2119
2126
2133
2147
2154
2161
2168
2182
2189
2196
2203
2217
2224
2231
2238
2252
2259
2266
2273
2287
2294
2301
2308
2322
2329
2336
2343
2357
2364
2371
2378
2392
2399
2406
2413
2427
2434
2441
2448
2462
2469
2476
2483
2497
2504
2511
2518
2532
2539
2546
2553
2567
2574
2581
2588
2602
2609
2616
2623
2637
2644
2651
2658
2672
2679
2686
2693
2707
2714
2721
2728
2742
2749
2756
2763
2777
2784
2791
2798
2812
2819
2826
2833
2847
2854
2861
2868
2882
2889
2896
2903
2917
2924
2931
2938
2952
2959
2966
2973
2987
2994
3001
3008
3022
3029
3036
3043
3057
3064
3071
3078
3092
3099
3106
3113
3127
3134
3141
3148
3162
3169
3176
3183
3197
total numbers are: 137

**Q.3.**

In [23]:
first = input("write your first name ")
last = input("write your last name ")
print(first[-1:-(len(first)+1):-1] + " "+ last[-1:-(len(last)+1):-1])

write your first name Akash
write your last name Sahoo
hsakA oohaS

**Q.4.**

In [42]:
import math
diameter = float(input("Enter your diameter to calculate its volumne: "))
volume = float((4/3) * math.pi * ((diameter/2)**3))

print('Volumne of a sphere is: ', volume)

Enter your diameter to calculate its volumne: 12
Volumne of a sphere is:  904.7786842338603

# PART-2

**Q.1**

In [10]:
input_numbers = input('enter your series: ').split(sep = ',')
final = []
for i in input_numbers:
    final.append(int(i))

print(final)

enter your series: 1,2,3,4,5,6,7
[1, 2, 3, 4, 5, 6, 7]

**Q.2.**

In [44]:
for i in range (0,5):
    for j in range(0, i+1):
        print("* ", end= "")
    print("\r")
for i in range(5,0,-1):
    for j in range(0, i+1):
        print("* ", end="")
    print("\r")
print("*")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

**Q.3.**

In [47]:
input_word =  input("Input Word: ")
output = input_word[-1: -(len(input_word) + 1): -1]
print("Output Word: ", output)

Input Word: AkasH
Output Word:  HsakA

**Q.4.**

In [49]:
print("WE, THE PEOPLE OF INDIA,\n \t having solemly resolved to constitute India into a SOVEREIGN,! \n \t \t SOCIALIST, SECULAR, DEMOCARTIC REPUBLIC \n\t\t and to secure to all its citizens.")

WE, THE PEOPLE OF INDIA,
 	 having solemly resolved to constitute India into a SOVEREIGN,!
 	 	 SOCIALIST, SECULAR, DEMOCARTIC REPUBLIC
		 and to secure to all its citizens.

**THE END**